body {
   font-family: Ubuntu, sans-serif;
}

.section {
    border-radius: 3px;
    border-color: black;
    border-width: thin;
    border-style: solid;
}

.bg-semidark {
    background-color: #343a402e !important;
}
